<form #form="ngForm" id="generateSyncKeyForm" (ngSubmit)="onSubmit()" novalidate>
<div class="row">
    <div class="col-auto">
        <label i18n id="current_key_label">Current key: </label>
        <p id="current_key_value">{{model?.fingerprint}}</p>
    </div>
    <div class="col">
        <button i18n type="submit" class="btn btn-lg btn-danger" id="generate_key_button" [disabled]="model == null">
            Generate new key
        </button>
    </div>
</div>
</form>