<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
            <div (click)="toggleNavbar.emit()">
                <button class="btn" id="menu-toggle" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="assets/images/logo.png" alt="Logo">
            </div>
            <app-sync-status-dot [sizeOfIcon]="sizeProp"></app-sync-status-dot>
        </div>
        <div class="nav navbar-nav pull-right navbar-right">
            <app-language-switch></app-language-switch>
            <button class="btn" id="logout-button" (click)="logout()">
                Logout
                <span class=""></span>
            </button>
        </div>
    </div>
</nav>