<div class="modal-header">
    <h4 class="modal-title">{{title | localizeMessage}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    {{content | localizeMessage}}
    <p *ngIf="additionalContent">{{additionalContent}}</p>
</div>
<div class="modal-footer">
    <button i18n type="button" class="btn btn-lg btn-secondary" (click)="cancelModal()">Cancel</button>
    <button i18n type="button" class="btn btn-lg btn-primary" (click)="confirmModal()">
        Confirm
    </button>
</div>
