<div class="btn-group">
    <button class="btn btn-success btn-outline-secondary" id="addAccount" (click)="addAccount()" ngbTooltip="Add Account">
        <fa-icon [icon]="faLaptopMedical" style="color:black">
        </fa-icon>
    </button>
</div>
<div class="list-group">
    <app-accountdetail-drop *ngFor="let account of accountService.getLatestAccounts().getAccounts()" [account]="account" [latestStatus]="latestStatus"></app-accountdetail-drop>
</div>

