<div class="card">
    <h4 class="card-header">Disaster swap</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            WIP: Add information on disaster swap
            <div class="form-group">
                <label for="password">Remote's admin-password</label>
                <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-danger">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Disaster swap
                </button>
            </div>
        </form>
    </div>
</div>