/* You can add global styles to this file, and also import other style files */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

input.ng-invalid {
  border-color: #E9322D!important;
  box-shadow: 0 0 6px #F8B9B7!important;
}

