<h1>Network Setup</h1>
<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>Hostname</a>
        <ng-template ngbNavContent>
            <app-hostname-form></app-hostname-form>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Nameservers</a>
        <ng-template ngbNavContent>
            <app-nameserver-form></app-nameserver-form>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>SSH Port</a>
        <ng-template ngbNavContent>
            <app-ssh-port-form></app-ssh-port-form>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Interfaces</a>
        <ng-template ngbNavContent>
            <app-network-interface-form></app-network-interface-form>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
