<div class="nameservers" *ngIf="model">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstNameserver">First nameserver:</label>
            <input type="text" id="firstNameserver" class="form-control required" formControlName="first_nameserver">
            <ngb-alert [dismissible]="false" *ngIf="formGroup.get('first_nameserver').errors">
                Invalid nameserver entry
            </ngb-alert>
        </div>
        <div class="form-group">
            <label for="secondNameserver">Second nameserver:</label>
            <input type="text" id="secondNameserver" class="form-control" formControlName="second_nameserver">
            <ngb-alert [dismissible]="false" *ngIf="formGroup.get('second_nameserver').errors">
                Invalid nameserver entry
            </ngb-alert>
        </div>
        <div class="form-group">
            <label for="thirdNameserver">Third nameserver:</label>
            <input #thirdNameserver type="text" id="thirdNameserver" class="form-control" formControlName="third_nameserver">
            <ngb-alert [dismissible]="false" *ngIf="formGroup.get('third_nameserver').errors && thirdNameserver.value.length > 0">
                Invalid nameserver entry
            </ngb-alert>
        </div>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!formGroup.dirty || formGroup.pristine || formGroup.invalid">
            Change nameservers
        </button>
    </form>
</div>
<div *ngIf="!model">
    TODO: failed loading nameserver config or still loading...
</div>
