<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <img src="assets/images/logo.png" alt="Logo">
    <!--<app-sync-status-dot [sizeOfIcon]="sizeProp"></app-sync-status-dot>-->
    <!-- TODO: public status icon? -->
    {{this.hostname.hostname}}
</nav>