This page allows you to change the listening port that your sync partner can connect to or that you need to set in your NAT configuration.<br>
Keep in mind that the account SSH port that your devices can use for backups will stay at the default port 22 (TCP).
<br>
<div *ngIf="model">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="remote_listening_port">Remote listening port:</label>
            <input type="number" min="1" max="65535" pattern="[0-9]*" formControlName="remote_listening_port" placeholder="55055" id="remote_listening_port" class="form-control required">
            <ngb-alert [dismissible]="false" *ngIf="formGroup.get('remote_listening_port').errors">
                Invalid port
            </ngb-alert>
        </div>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!formGroup.dirty || formGroup.pristine || formGroup.invalid">
            Change SSH config
        </button>
    </form>
</div>
<div *ngIf="!model">
    TODO: failed loading hostname or still loading...
</div>
