<a class="list-group-item list-group-item-action flex-column align-items-start" id="{{account.name}}"
   (click)="showDetails = !showDetails">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            <app-accountstatus-dot [account]="account" [status]="this.latestStatus"></app-accountstatus-dot>
            {{account.name}}
        </h5>
        <small>{{account.rlongname}}</small>
    </div>
    <div class="mb-1">
        <div *ngIf="showDetails">
            <div class="row">
                <div class="col-auto">
                    <label i18n>Name:</label><br/>
                    {{account.name}}
                </div>
                <div class="col-auto">
                    <label i18n>Long Name:</label><br/>
                    {{account.rlongname}}
                </div>
            </div> <!-- Names row -->
            <hr/>
            <div class="row">
                <div class="col-auto">
                    <label i18n>Backup Every:</label><br/>
                    <span id="infoBackupPeriod" i18n>{{account.backup_period}}</span>
                </div>
                <div class="col-auto">
                    <label i18n>Quota:</label><br/>
                    <span id="infoQuotaOfAccount" i18n>{{account.max_space_allowed}} %</span>
                </div>
                <div class="col-auto">
                    <label i18n>SSH key fingerprint:</label><br/>
                    <span id="infoKeyFingerprint">{{account.key_fingerprint}}</span>
                </div>
            </div> <!-- Basic settings row -->
            <hr/>
            <div class="row">
                <div class="col-auto">
                    <label i18n>Mail address:</label>
                    <br/>
                    <span id="infoMailAddressOfAccount">{{account.mail_address}}</span>
                </div>
                <div class="col-auto">
                    <label i18n>Remind:</label>
                    <br/>
                    <span id="infoRemindDurationOfAccount" i18n>{{account.remind_duration}} days</span>
                </div>
                <div class="col-auto">
                    <label i18n>Repeat:</label>
                    <br/>
                    <span id="infoMailRepetitionPeriod">TODO days</span>
                </div>
                <div class="col-auto">
                    <label i18n>Info-level: </label>
                    <br/>
                    <span id="infoInfoLevelOfAccount">{{account.mail_info_level}}</span>
                    <span class="help-block">&nbsp;</span>
                </div>
            </div> <!-- mail settings row -->
            <hr/>
            <div class="row">
                <div class="col-auto">
                    <label i18n>Space used:</label>
                    <br/>
                    <span id="infoUsedOfAccount">{{ account.space_used | bytesToGb | number:'1.0-0'}}</span>
                    <span class="help-block" i18n>GB</span>
                </div>
                <div class="col-auto">
                    <label i18n>Quota used:</label>
                    <br/>
                    <span id="infoUsedPercentOfAccount" i18n>{{ account.space_used | quotaUsedPercentage: latestStatus?.total_size : account.max_space_allowed | number }} %</span>
                </div>
            </div> <!-- Disk usage row -->
            <hr/>
            <div class="row">
                <div class="col-auto">
                    <label i18n>Last Access:</label>
                    <br/>
                    <span id="infoLastAccess">{{account.last_access * 1000 | date}}</span>
                </div>
                <div class="col-auto">
                    <label i18n>Overdue since:</label>
                    <br/>
                    <span id="infoOverdueDays">{{account.overdue}}</span> <span i18n> Days </span><span id="infoOverdueHours">{{account.overdue}}</span>&nbsp;<span i18n> Hours</span>
                </div>
                <div class="col-auto">
                    <label i18n>Last Mail:</label>
                    <br/>
                    <span id="infoLastMail">{{account.last_mail * 1000 | date}}</span>
                </div>
            </div> <!-- Dates row 1 -->
            <hr/>
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-outline-secondary" id="modAccount" (click)="editModal($event, account)"
                            ngbTooltip="Edit">
                        <fa-icon [icon]="faPencil" style="color:black">
                        </fa-icon>
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-secondary" id="delAccount" (click)="deleteModal($event, account)"
                            ngbTooltip="Delete">
                        <fa-icon [icon]="faTrash" style="color:black">
                        </fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="!showDetails">
            <div class="row">
                <div class="col-auto">
                    <label i18n>Space used:</label>
                    <br/>
                    <span>{{ account.space_used | bytesToGb | number:'1.0-0'}}</span>
                    <span class="help-block" i18n>GB</span>
                </div>
                <div class="col-auto">
                    <label i18n>Quota used:</label>
                    <br/>
                    <span i18n>{{ account.space_used | quotaUsedPercentage: latestStatus?.total_size : account.max_space_allowed | number }} %</span>
                </div>
                <div class="col-auto">
                    <label i18n>Last Access:</label>
                    <br/>
                    <span>{{account.last_access * 1000 | date}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <small>
        Status: <app-accountstatus-dot [account]="account" [status]="this.latestStatus"></app-accountstatus-dot>
    </small> -->
</a>


