<app-generate-sync-key #generateSyncKeyComponent></app-generate-sync-key>
<div *ngIf="generateSyncKeyComponent.model != null && generateSyncKeyComponent.model.fingerprint.length > 0">
    <div class="row">
        <div class="col-auto">
            <app-sync-setup-remote-config #syncSetupRemoteConfigComponent></app-sync-setup-remote-config>
        </div>
        <div class="col-auto">
            <app-remote-key></app-remote-key>
        </div>
    </div>
    <br>
    <div class="row">
        <app-key-exchange-buttons [disableButtons]="syncSetupRemoteConfigComponent.model == null
        || syncSetupRemoteConfigComponent.model.hostname.length == 0
        || syncSetupRemoteConfigComponent.model.port == 0"
                                  (configurationFinished)="this.configurationFinished.emit()"></app-key-exchange-buttons>
    </div>
</div>
