<div class="d-flex" #wrapper>
  <div id="sidebar-wrapper" #sidebar *ngIf="showSidebar" class="bg-light border-right">
    <app-navbar></app-navbar>
  </div>

  <div id="page-content-wrapper">
    <app-statusbar (toggleNavbar)="toggleClass(wrapper, 'toggled')"></app-statusbar>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
