<h3>Network</h3>
<div class="flex">
  <div class="flex-item">
    <div>
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"></canvas>
    </div>
  </div>
</div>
