<form (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">Info of {{account.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group row">
      <div class="col-xl">
        <label for="longName">Long Name:</label>
        <input #longName="ngModel" name="longName" class="form-control" id="longName" [(ngModel)]="editedAccount.rlongname" validateLongName/>
        <ngb-alert [dismissible]="false" *ngIf="longName.errors">
          Invalid long name
        </ngb-alert>
      </div>

    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg">
          <label for="password">Password:</label>
          <input name="password" #password id="password" class="form-control" type="password" [(ngModel)]="editedAccount.password" validateAccountPassword/>
        </div>
        <div class="col-lg">
          <label for="passwordCheck">Password (2nd time):</label>
          <input #passwordCheck type="password" class="form-control" id="passwordCheck"/>
        </div>
      </div>

      <div class="row">
        <div class="col-xl">
          <ngb-alert [dismissible]="false" *ngIf="password.value.length > 5 && password.value !== passwordCheck.value">
            Password mismatch!
          </ngb-alert>
          <!--<ngb-alert [dismissible]="false" *ngIf="editAccountForm.get('password').errors">
            The password must be at least 6 characters, no more than 20 characters, and must include at least one upper case letter, one lower case letter and one numeric digit. No whitespaces allowed. The password can be generated with the generate button and be shown with the eye button.
          </ngb-alert>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <div  class="row">
        <div class="col-auto">
          <label for="backupPeriod">Backup period:</label>
          <input name="backupPeriod" class="form-control" type="number" id="backupPeriod" [(ngModel)]="editedAccount.backup_period"/>
          <span class="help-block">Days</span>
        </div>
        <div class="col-auto">
          <label for="quota">Quota:</label>
          <input name="quota" class="form-control" type="number" id="quota" min="1" max="100" [(ngModel)]="editedAccount.max_space_allowed"/>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <label for="fpdiv">SSH key:</label>
          <div class="row">
            <div id="fpdiv" class="col-auto">
              <label class="btn btn-default custom-file-upload" for="sshKey">
                <fa-icon [icon]="faFileUpload"></fa-icon>
                <span #pubKeyUploadText>.pub</span>
              </label>
              <input name="sshKey" id="sshKey" type="file"
                     (change)="onSSHKeyChange($event, 'basicSettings.sshKey'); pubKeyUploadText.innerText = $event?.target?.files?.item(0).name"  accept=".pub">
            </div>
            <div id="fpdel" class="col-auto">
              <label class="btn btn-danger" (click)="this.editedAccount.ssh_pub_key = ''; newFingerprint = 'deleted'">
                <fa-icon [icon]="faTrashBin"></fa-icon>
              </label>
            </div>
          </div>

          <p>Current fingerprint: {{account.key_fingerprint}}</p>
          <p *ngIf="newFingerprint">New fingerprint: {{newFingerprint}}</p>
        </div>
      </div>

    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg">
          <label for="mailAddress">E-Mail address</label>
          <input name="mailAddress" id="mailAddress" class="form-control" [(ngModel)]="editedAccount.mail_address" email/>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <label for="remindPeriod">Remind period</label>
          <input name="remindPeriod" id="remindPeriod" class="form-control" [(ngModel)]="editedAccount.remind_duration"/>
        </div>
        <div class="col-auto">
          <label for="repeatPeriod">Repeat period</label>
          <input name="repeatPeriod" id="repeatPeriod" class="form-control" [(ngModel)]="editedAccount.info_period"/>
        </div>
        <div class="col-auto">
          <label for="infoLevel">Info level</label>
          <select name="mailInfoLevel" id="infoLevel" class="form-control" [(ngModel)]="editedAccount.mail_info_level">
          <option *ngFor="let infoLevel of infoLevels" [value]="infoLevel" [selected]="editedAccount.mail_info_level.toString() == infoLevel">{{infoLevel}}</option>
        </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-secondary" (click)="closeModal()">Close</button>
    <button type="submit" class="btn btn-lg btn-primary" [disabled]="(password.value !== passwordCheck.value)">
      Save
    </button>
  </div>
</form>
