<div class="modal-header">
    <div [ngSwitch]="title">
        <h4 i18n="info|Single word@@single_word.info" class="modal-title" *ngSwitchCase="infoLevelEnum.INFO">Info</h4>
        <h4 i18n="warning|Single word@@single_word.warning" class="modal-title" *ngSwitchCase="infoLevelEnum.WARNING">Warning</h4>
        <h4 i18n="error|Single word@@single_word.error" class="modal-title" *ngSwitchCase="infoLevelEnum.ERROR">Error</h4>
        <h4 i18n="fatal|Single word@@single_word.fatal" class="modal-title" *ngSwitchCase="infoLevelEnum.FATAL">Fatal</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    {{ content | localizeMessage}}
    <p *ngIf="additionalContent">{{additionalContent}}</p>
</div>
<div class="modal-footer">
    <button i18n type="button" class="btn btn-lg btn-primary" (click)="closeModal()">OK</button>
</div>
