<div class="list-group list-group-flush">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" class="list-group-item list-group-item-action bg-light">
      <a class="nav-item nav-link" routerLink="/syncosync/status">Status</a>
    </li>
    <li routerLinkActive="active" class="list-group-item list-group-item-action bg-light">
      <a class="nav-item nav-link" routerLink="/syncosync/networksetup">Network setup</a>
    </li>
    <li routerLinkActive="active" class="list-group-item list-group-item-action bg-light">
      <a class="nav-item nav-link" routerLink="/syncosync/syncsetup">Sync setup</a>
    </li>
  </ul>
</div>
