<div class="row">
    <div class="col-auto">
        <label for="remote_key">Remote key:</label>
        <p id="remote_key" *ngIf="model">{{model.fingerprint}}</p>
    </div>
    <div class="col-auto">
        <br>
        <button type="button" class="btn btn-lg btn-danger" [disabled]="model == null || model.fingerprint.length == 0" (click)="onSubmit()">Terminate synchronisation</button>
    </div>
</div>
