<p i18n>In order to be able to properly sync your backups, your syncosync-box needs to know where your sync-partner (remote) is.
Additionally, the above key needs to be known by your partner and vice-versa.
To accomplish the exchange of keys, the previous setting of leader/follower determines whether your partner will listen for your device to request the key exchange or the other way around.
If you have already exchanged keys but your partner changed his or her hostname, you may simply save the settings.
Keep in mind that a fresh key exchange is also needed if either party generates a new key!
<br><br>
A full key exchange includes saving the key and then sending/listening accordingly.
</p>

<form #form="ngForm" id="syncSetupConfigForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group row">
        <div class="col-auto">
            <label for="hostname">Remote host:</label>
            <input #hostname="ngModel" name="hostname" class="form-control" id="hostname"  [(ngModel)]="model.hostname" value="{{model.hostname}}" validateHostname required/>
            <ngb-alert [dismissible]="false" *ngIf="!hostname.valid">
                Hostname is invalid. Needs to be a (static) IP-address or a hostname.
            </ngb-alert>
        </div>
        <div class="col-auto">
            <label for="port">Port:</label>
            <input #port="ngModel" name="port" type="number" min="1" max="65536" class="form-control" id="port" [(ngModel)]="model.port" value="55055" validatePort required/>
            <ngb-alert [dismissible]="false" *ngIf="port.errors">
                Invalid port. Valid range: 1-65536.
            </ngb-alert>
        </div>
        <div class="col-auto">
            <br>
            <button type="submit" class="btn btn-lg btn-primary" [disabled]="!form.valid" >Save</button>
        </div>
    </div>
</form>