<form #form="ngForm" id="addAccount" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">Add Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group row">
      <div class="col-auto">
        <label for="accountname">Accountname:</label>
        <input #accountName="ngModel" name="accountName" class="form-control" id="accountname"  [(ngModel)]="account.name" validateAccountName required/>
        <ngb-alert [dismissible]="false" *ngIf="!accountName.valid">
          Accountname is required or invalid accountname
        </ngb-alert>
      </div>
      <div class="col-auto">
        <label for="longName">Long Name:</label>
        <input #longName="ngModel" name="longName" class="form-control" id="longName" [(ngModel)]="account.rlongname" validateLongName/>
        <ngb-alert [dismissible]="false" *ngIf="longName.errors">
          Invalid long name
        </ngb-alert>
      </div>
    </div>

    <div class="form-group row">
        <div class="col-auto">
          <label for="password">Password:</label>
          <input #password="ngModel" name="password" id="password" class="form-control" type="password" [(ngModel)]="account.password" validateAccountPassword required/>
        </div>
        <div class="col-auto">
          <label for="passwordCheck">Password (2nd time):</label>
          <input #passwordCheck type="password" class="form-control" id="passwordCheck"/>
        </div>

      <ngb-alert [dismissible]="false" *ngIf="password.value !== null && password.value.length > 5 && password.value !== passwordCheck.value">
        Password mismatch!
      </ngb-alert>
      <ngb-alert [dismissible]="false" *ngIf="password.errors">
        The password must be at least 6 characters, no more than 20 characters, and must include at least one upper case letter, one lower case letter and one numeric digit. No whitespaces allowed. The password can be generated with the generate button and be shown with the eye button.
      </ngb-alert>
    </div>

    <div class="form-group row">
        <div class="col-auto">
          <label for="backupPeriod">Backup period:</label>
          <input name="backupPeriod" class="form-control" type="number" id="backupPeriod" [(ngModel)]="account.backup_period"/>
          <span class="help-block">Days</span>
        </div>
        <div class="col-auto">
          <label for="quota">Quota:</label>
          <input name="quota" class="form-control" type="number" id="quota" min="1" max="100" [(ngModel)]="account.max_space_allowed"/>
        </div>
        <div class="col-auto">
          <label for="fpdiv">SSH key:</label>
          <div id="fpdiv">
            <label class="btn btn-default custom-file-upload" for="sshKey">
              <fa-icon [icon]="faFileUpload"></fa-icon>
              <span #pubKeyUploadText>.pub</span>
            </label>
            <input id="sshKey" type="file"
                   (change)="onSSHKeyChange($event, 'basicSettings.sshKey'); pubKeyUploadText.innerText = $event?.target?.files?.item(0).name"  accept=".pub">
          </div>
          <div id="fpdel" class="col-auto">
            <label class="btn btn-danger" (click)="this.account.ssh_pub_key = ''; newFingerprint = 'deleted'">
              <fa-icon [icon]="faTrashBin"></fa-icon>
            </label>
          </div>
        </div>

      <p *ngIf="newFingerprint">New fingerprint: {{newFingerprint}}</p>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-auto">
          <label for="mailAddress">E-Mail address</label>
          <input #email="ngModel" name="mailAddress" id="mailAddress" class="form-control" [(ngModel)]="account.mail_address" email/>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <label for="remindPeriod">Remind period</label>
          <input name="remindPeriod" id="remindPeriod" class="form-control" [(ngModel)]="account.remind_duration"/>
        </div>
        <div class="col-auto">
          <label for="repeatPeriod">Repeat period</label>
          <input name="repeatPeriod" id="repeatPeriod" class="form-control" [(ngModel)]="account.info_period"/>
        </div>
        <div class="col-auto">
          <label for="infoLevel">Info level</label>
          <select name="mailInfoLevel" id="infoLevel" class="form-control" [(ngModel)]="account.mail_info_level">
            <option *ngFor="let infoLevel of infoLevels" [value]="infoLevel">{{infoLevel}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-secondary" (click)="closeModal()">Close</button>
    <button type="submit" class="btn btn-lg btn-primary" [disabled]="!form.valid">
      Save
    </button>
  </div>
</form>
