<div class="hostnameChanger" *ngIf="model">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group" formGroupName="hostname">
            <label for="hostname">Hostname:</label>
            <input formControlName="hostname" type="text" id="hostname" class="form-control hostnameAndIpAddress required" name="hostname">
            <ngb-alert [dismissible]="false" *ngIf="formGroup.get('hostname.hostname').errors">
                Invalid hostname
            </ngb-alert>
        </div>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!formGroup.dirty || formGroup.pristine || formGroup.invalid">
            Change hostname
        </button>
    </form>
</div>
<div *ngIf="!model">
    TODO: failed loading hostname or still loading...
</div>
