.error {
    color: red;
}

.warning {
    color: yellow;
}

.ok {
    color: green;
}

fa-icon {
    display: inline-block;
    border-radius: 100pt;
    box-shadow: 0px 0px 5px #888;
    padding: 0.5em 0.6em;
    background-color: lightgray;
    margin: 1em;
}
