<div id="remotehostFrame" [ngSwitch]="this.statusIconToShow" class="dot">
    <fa-icon *ngSwitchCase="syncDisplayState.ACTIVE" [icon]="faSync" [spin]="true" [pulse]="false" [ngClass]="getColor()" [ngbTooltip]="getText()" [size]="sizeOfIcon"></fa-icon>
    <fa-icon *ngSwitchCase="syncDisplayState.OK" [icon]="faCheckCircle" [pulse]="false" [ngClass]="getColor()" [ngbTooltip]="getText()" [size]="sizeOfIcon"></fa-icon>
    <fa-icon *ngSwitchCase="syncDisplayState.WARNING" [icon]="faExclamationCircle" [pulse]="false" [ngClass]="getColor()" [ngbTooltip]="getText()" [size]="sizeOfIcon"></fa-icon>
</div>
