<div class="row">
    <div class="col-auto">
        <button type="button" class="btn btn-lg btn-danger" [disabled]="disableButtons" (click)="initiateLeadKeyExchange()">Lead key exchange</button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-lg btn-danger" [disabled]="disableButtons" (click)="followKeyExchange()">Follow key exchange</button>
    </div>
</div>
