<div class="modal-header">
  <h4 class="modal-title">Delete {{account.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Do you really want to delete the account {{account.name}} ({{account.rlongname}})?</p>
</div>
<div class="modal-footer">
  <button type="button" id="delCancel" class="btn btn-secondary btn-lg" (click)="activeModal.close('Close click')">
    Cancel
  </button>
  <button type="button" id="delConfirm" class="btn btn-lg btn-danger" (click)="deleteAccount()">Delete Account</button>
</div>
