<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>

<div class="modal-body">
    {{content}}
    <p *ngIf="additionalContent">{{additionalContent}}</p>
</div>
<div class="modal-footer">
    <button *ngIf="cancelObservable" i18n type="button" class="btn btn-lg btn-secondary" (click)="cancelModal()">Cancel</button>
</div>
