<div class="d-flex" #wrapper>
  <div id="page-content-wrapper">
    <app-statusbar></app-statusbar>
    <br>
    <div class="container-fluid">
      <div class="card">
        <nav ngbNav #nav="ngbNav" class="nav-tabs card-header">
          <ng-container ngbNavItem>
            <a ngbNavLink>Login</a>
            <ng-template ngbNavContent>
              <app-login></app-login>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Disaster Swap</a>
            <ng-template ngbNavContent>
              <app-disaster-swap-login></app-disaster-swap-login>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Detailed status</a>
            <ng-template ngbNavContent>
              The detailed status page will display semi-live data on a separate page that can be used to basic
              monitoring on external displays for example.
              <br>
              <button class="btn btn-primary">
                Detailed status
              </button>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="card-body mt-2"></div>
      </div>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
</div>
