<div class="nicChanger" *ngIf="model">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div *ngFor="let nicConfig of model" [formGroupName]="nicConfig.interface">
            <hr/>
            <div class="row">
                <div class="col-auto">
                    <h5>{{nicConfig.interface}}</h5>
                </div>
                <div class="col-auto">
                    <fa-icon size="2x" [icon]="faEthernet" ngbTooltip="{{nicConfig.linkspeed}}" [style]="nicConfig.ip4_mode !== nicModes.MANUAL || nicConfig.ip6_mode !== nicModes.MANUAL ? 'color: green' : 'color: red'"></fa-icon>
                </div>
            </div>

            <h6>IPv4</h6>
            <div formGroupName="v4">
                <div class="row">
                    <div class="col-auto">
                        <label class="switch">
                            <input type="checkbox" [checked]="nicConfig.ip4_mode === nicModes.MANUAL" hidden>
                            <fa-icon size="2x" border="true" [icon]="faPowerOff" [ngClass]="getColor(nicConfig.ip4_mode)" ngbTooltip="Enable/disable interface" (click)="toggleInterfaceModeIpv4(nicConfig)"></fa-icon>
                        </label>

                    </div>
                    <div class="col-auto" *ngIf="nicConfig.ip4_mode !== nicModes.MANUAL">
                        <div class="boxhide" style="display: block">
                            <div class="toggle text">
                                <label class="switch">
                                    <input type="checkbox" (click)="toogleIpv4DhcpStatic(nicConfig)" [checked]="nicModes.STATIC !== nicConfig.ip4_mode">
                                    <span class="slider enableDhcpSlider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="nicConfig.ip4_mode !== nicModes.MANUAL">
                    <div class="row">
                        <div class="col-xs-6 col-md-2">
                            <label for="ip_address">IP address:</label>
                            <input formControlName="ip_address" type="text" id="ip_address" class="form-control">
                            <ngb-alert [dismissible]="false" *ngIf="formGroup.get(nicConfig.interface + '.v4.ip_address').errors">
                                Invalid IP address
                            </ngb-alert>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label for="netmask">Netmask:</label>
                            <input formControlName="netmask" type="text" id="netmask" class="form-control">
                            <ngb-alert [dismissible]="false" *ngIf="formGroup.get(nicConfig.interface + '.v4.netmask').errors">
                                Invalid netmask
                            </ngb-alert>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label for="gateway">Gateway:</label>
                            <input formControlName="gateway" type="text" id="gateway" class="form-control">
                            <ngb-alert [dismissible]="false" *ngIf="formGroup.get(nicConfig.interface + '.v4.gateway').errors">
                                Invalid gateway
                            </ngb-alert>
                        </div>
                    </div>
                </div>
            </div>

            <h6>IPv6</h6>
            <div formGroupName="v6">
                <div class="row">
                    <div class="col-auto">
                        <label class="switch">
                            <input type="checkbox" [checked]="nicConfig.ip6_mode === nicModes.MANUAL" hidden>
                            <fa-icon size="2x" border="true" [icon]="faPowerOff" [ngClass]="getColor(nicConfig.ip6_mode)" ngbTooltip="Enable/disable interface" (click)="toggleInterfaceModeIpv6(nicConfig)"></fa-icon>
                        </label>

                    </div>
                    <div *ngIf="nicConfig.ip6_mode !== nicModes.MANUAL">
                        <label for="mode">Mode:</label>
                        <select class="form-control" formControlName="ip_mode" id="mode">
                            <option [value]="nicModes.DHCP">DHCP</option>
                            <option [value]="nicModes.STATIC">Static</option>
                            <option [value]="nicModes.AUTO">Auto</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="nicConfig.ip6_mode !== nicModes.MANUAL">
                    <div class="row">
                        <div class="col-xs-6 col-md-2">
                            <label for="ip6_address">IP address:</label>
                            <input formControlName="ip_address" type="text" id="ip6_address" class="form-control">
                            <ngb-alert [dismissible]="false" *ngIf="formGroup.get(nicConfig.interface + '.v6.ip_address').errors">
                                Invalid IP address
                            </ngb-alert>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label for="ip6_netmask">Netmask:</label>
                            <input formControlName="netmask" type="text" id="ip6_netmask" class="form-control">
                            <ngb-alert [dismissible]="false" *ngIf="formGroup.get(nicConfig.interface + '.v6.netmask').errors">
                                Invalid netmask
                            </ngb-alert>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label for="ip6_gateway">Gateway:</label>
                            <input formControlName="gateway" type="text" id="ip6_gateway" class="form-control">
                            <ngb-alert [dismissible]="false" *ngIf="formGroup.get(nicConfig.interface + '.v6.gateway').errors">
                                Invalid gateway
                            </ngb-alert>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <br>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!formGroup.dirty || formGroup.pristine || formGroup.invalid">
            Change network configuration
        </button>
    </form>
</div>
<div *ngIf="!model">
    TODO: failed loading NICs or still loading...
</div>
