<div *ngIf="this.statusService.getStatus()">
  <div class="row">
    <div class="col-auto">
      <h3>Status</h3>
      <app-sync-status-dot></app-sync-status-dot>
    </div>
    <div class="col-auto">
      <app-disk-usage-donut></app-disk-usage-donut>
    </div>
    <div class="col-auto">
      <app-downspeed-graph></app-downspeed-graph>
    </div>
  </div>
  <div class="row flex-row">
    <div class="col">
      <app-accounts-drop-listing [latestStatus]="this.statusService.getStatus()"></app-accounts-drop-listing>
    </div>
  </div>
</div>
